<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Página principal</title>
  </head>
  <body>
    <div class="main-page">
      <div class="title">
        <h3>O que faremos hoje?</h3>
      </div>
      <div class="control-options">
        <a href="/form">
          <button onclick="register()">Cadastrar espécie</button>
        </a>
        <a href="/especies/ejs">
          <button onclick="seeAllRegisters()">Ver lista de espécies</button>
        </a>
      </div>
    </div>


    <style>
      .control-options {
        width: 400px;
      }

      .control-options button {
        width: 150px;
        height: 40px;
      }
    </style>
  </body>
</html>
